.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 92px 50px 96px;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .header {
    padding: 16px 16px 48px;
  }
}
