.cover__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  margin: 0 0 5px;
  padding: 0;
}

.cover__title:first-child {
  align-self: flex-start;
}

.cover__title:last-child {
  align-self: flex-end;
  margin-bottom: 0;
}
